---
import { getCollection } from "astro:content";
import ArticleList from "~/components/ArticleList.astro";
import BaseLayout from "~/components/BaseLayout.astro";
import { Breadcrumbs, BreadcrumbsLink } from "~/components/Breadcrumbs";

const articles = await getCollection("recipes");
---
<BaseLayout title="Кулинарные рецепты">
	<h2>Кулинарные рецепты</h2>

	<Breadcrumbs current="Кулинарные рецепты">
		<BreadcrumbsLink to="/">Главная страница</BreadcrumbsLink>
	</Breadcrumbs>

	<p>Здесь собраны всякие разные кулинарные рецепты, которые мне понравились и которые я потом готовил.</p>

	<ArticleList articles={articles} />
</BaseLayout>